/* Обычный (400) */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-Regular.woff2') format('woff2'),
       url('fonts/Lato-Regular.woff') format('woff'),
       url('fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Экстра-Жирный-Черный (900) */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-Black.woff2') format('woff2'),
       url('fonts/Lato-Black.woff') format('woff'),
       url('fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Экстра-Жирный (800) */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-ExtraBold.woff2') format('woff2'),
       url('fonts/Lato-ExtraBold.woff') format('woff'),
       url('fonts/Lato-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Жирный (700) */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-Bold.woff2') format('woff2'),
       url('fonts/Lato-Bold.woff') format('woff'),
       url('fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Курсивный (400 italic) */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-Italic.woff2') format('woff2'),
       url('fonts/Lato-Italic.woff') format('woff'),
       url('fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Жирный курсивный (700 italic) */
@font-face {
  font-family: 'LatoWeb';
  src: url('fonts/Lato-BoldItalic.woff2') format('woff2'),
       url('fonts/Lato-BoldItalic.woff') format('woff'),
       url('fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
