* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-template-rows: 10% 70% 10% 10%;
  background-color: #f6f7f9;
  color: #222;
  font-family: "LatoWeb";
  width: 100%;
  max-width: 100vw;  /* Содержимое в пределах экрана */
  min-height: 100vh; /* Занимает минимум весь экран */
  margin: 0;
  row-gap: 20px;
  grid-template-areas:
    'header header header' 
    'main main main' 
    'banners banners banners' 
    'footer footer footer';
}

/* Стили секции header*/
#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 4fr; /* logo + title */
  gap: 10px;
  background: #0e1060;
  height: 100px;
  color: #FFF;
  top: 0;
  position: sticky;
  z-index: 1;
}

#a-logo {
  display: flex;
  justify-self: center;
  align-self: center;
}

.logo {
  justify-self: center;
  align-self: center;
  margin-left: 20%;
  top: 15px;
  width: 100%;         /* занимает всю ширину родителя */
  max-width: 89px;  /* максимальный размер (ваш исходный размер) */
  height: auto;      /* высота подстраивается под пропорции */
  display: block;    /* убирает лишние отступы */
  z-index: 10;
}

#title {
  display: flex;
  justify-self: center;
  align-self: center;
  max-height: 100px;
  margin-right: 5%;
  font-family:"LatoWeb";
  font-size: 36px;
  font-weight: 700;
  color: #FFF;
  letter-spacing: .01em;
  line-height: 1.25;
  z-index: 15;
}

/* Стили секции main*/
#main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex: 1 0 auto; /* Растягивается на всё свободное место */
}

.banners {
  grid-row: 3;
  grid-column: 2;
  grid-area: banners;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  overflow: auto;
  margin: 20px 20px 20px 20px;
}

.banner-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  align-self: flex-end;
  align-items: center;
  gap: 40px; /* Отступы между баннерами */
}

.banner-list li {
  min-height: 0;
  overflow: hidden; /* Обрезаем лишнее, если изображение больше */
}

.banner-list a {
  margin: 0;
  padding: 0;
}

.banner-list img {
  height: auto;
  width: auto;
  object-fit: contain; /* Сохраняем пропорции, не растягиваем */
  display: block;
}

/* Стили секции footer*/
#footer {
  grid-area: footer;
  box-sizing: border-box;
  height: 100px;
  margin: 10px 0 0 0;
  background: #0e1060;
  display: flex;
  align-self: flex-end; /* прижимает блок вниз */
}



/* Медиазапросы*/

        /* Десктоп */
@media (min-width: 1025px) and (max-width: 2560px) {
  .banner-list {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
  }
  .banner-list img {
    width: 100%;
    height: auto;
  }
  #title {
    margin-right: 25%;
  }
}

        /* Планшеты*/
@media (min-width: 601px) and (max-width: 1024px) {
  .banner-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }
  .banner-list img {
    width: 85%;
    height: auto;
  }
  .logo {
    max-width: 60px;
  }
  #title {
    font-size: 30px;
  }
}

        /* Мобильные */
@media (max-width: 600px) {
  .banner-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0px;
  }
  .banner-list img {
    width: 75%;
    height: auto;
  }
  .logo {
    margin-left: 0;
    max-width: 50px;
  }
  #a-logo {
    justify-self: flex-end;
  }
  #title {
    margin-left: 5%;
    font-size: 20px;
  }
}

/* Мобильные */


/* Планшеты */


/* Десктопы */
